<div class="modal-backdrop" {{on "click" this.handleBackdropClick}}>
  {{#if this.isContactPopupOpen}}
    <div class="contact-modal-box" {{on "click" this.stopPropagation}}>
      <button class="modal-close-button" type="button" aria-label="Close" {{on "click" this.closePopup}}>
        &times;
      </button>

      <ContactForm
        @onClose={{this.closePopup}}
        @whatsappNumber={{this.selectedNumber}}
        @title={{this.selectedTitle}}
      />
    </div>
  {{else}}
    <div class="modal-box relative" {{on "click" this.stopPropagation}}>

      {{!-- Close Button --}}
      <button
        class="modal-close-button" aria-label="Close" type="button" {{on "click" this.closePopup}}
      >
        &times;
      </button>

      {{!-- Image Display Area --}}
      <div class="modal-image-area">
        {{#if this.selectedItem}}
          <img
            src={{this.getImagePath this.selectedItem}}
            alt={{this.selectedItem}}
            class="modal-image"
          />
        {{else}}
          <p>Select an item to view its image</p>
        {{/if}}
      </div>

      {{!-- Buttons --}}
      <div class="modal-content">
        <button
          class="modal-button" type="button" {{on "click" (fn this.showImageFor "brass-coils")}}
        >Brass coils</button>
        <button
          class="modal-button" type="button" {{on "click" (fn this.showImageFor "brass-ingots")}}
        >Brass ingots</button>
        <button
          class="modal-button" type="button" {{on "click" (fn this.showImageFor "brass-spare")}}
        >Brass Spare parts</button>

        <button
          class="modal-button modal-contact-button" type="button" {{on "click" this.contactUs}}
        >
          Contact Us!
        </button>
      </div>

    </div>
  {{/if}}
</div>
